

body {
    background:
        linear-gradient(rgba(245, 195, 228, 0.7), rgba(247, 169, 214, 0.7)), 
        url('https://wallpapers.com/images/hd/hospital-background-8uzvaaj1wielv1ca.jpg'); 
    
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center; 
    min-height: 100vh;           
    
    display: flex;              
    justify-content: center;      
    align-items: center;         
    flex-direction: column;      
    font-family: "Poppins", sans-serif; 
}

.div_contato {
    background: #f7a4c1; 
    border: 3px solid #ef8cb7;           
    border-radius: 40px;                 
    padding: 40px;                       
    width: 80%;                          
    max-width: 1000px;                   
    text-align: center;                 
    color: #ffa3da;                      
    display: flex;                       
    justify-content: center;             
    align-items: center;                  
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2); 
}

.form-container {
    background: rgba(237, 93, 148, 0.6); 
    padding: 40px;                       
    border-radius: 40px;              
    width: 90%;                          
    max-width: 600px;                    
    border: 5px solid rgba(235, 102, 146, 0.92); 
    box-shadow: 0 0 20px rgba(235, 25, 95, 0.776);
}

.titulo {
    background-color: #e91e63;            
    color: #ffffffe7;                         
    text-align: left;                     
    padding: 8px 20px;                 
    font-weight: 700;                    
    border-radius: 40px;               
    border: 3px solid #fff;          
    width: fit-content;                  
    margin: -20px auto 30px auto;        
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.formulario {
    display: flex;                        
    flex-direction: column;             
    gap: 15px;                           
    text-align: left;                   
}

label {
    font-weight: 600;                    
    color: #eeeeee;                     
    font-size: 15px;                     
}

input, select, textarea {
    background-color: #ffe6f0;           
    border: 2px solid #fff;              
    border-radius: 10px;                 
    padding: 10px;                       
    font-size: 15px;                      
    color: #e91e63;                    
    outline: none;                    
    transition: 0.3s;                  
}

input:focus, select:focus, textarea:focus {
    border-color: #ee588a;               
    box-shadow: 0 0 6px rgba(240, 99, 146, 0.98); 
}

.btn_enviar {
    background: linear-gradient(135deg, #E91E63, #fcb3f8); 
    color: #fff;                        
    border: none;                        
    padding: 12px 18px;                  
    font-size: 16px;                     
    font-weight: bold;                   
    border-radius: 12px;                  
    margin-top: 15px;                    
    cursor: pointer;                      
    transition: 0.3s;                    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.btn_enviar:hover {
    background-color: #c2185b;            
    transform: scale(1.05);               
}

.resultado{
    margin-top: 10px; 
    font-weight: bold;
    min-height: 25px;
}


